.iphone-pro-max {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 430px;
  height: 932px;
  position: relative;
}

.iphone-pro-max .overlap {
  width: 430px;
  height: 520px;
  top: 253px;
  position: absolute;
  left: 0;
}

.iphone-pro-max .ellipse {
  width: 43px;
  height: 42px;
  top: 31px;
  left: 23px;
  border-radius: 21.5px/21px;
  position: absolute;
  background-color: #d9d9d9;
}

.iphone-pro-max .rectangle {
  height: 344px;
  top: 94px;
  position: absolute;
  width: 430px;
  left: 0;
}

.iphone-pro-max .IMG {
  position: absolute;
  width: 430px;
  height: 520px;
  top: 0;
  left: 0;
}

.iphone-pro-max .line {
  position: absolute;
  width: 430px;
  height: 2px;
  top: 243px;
  left: 0;
  object-fit: cover;
}

.iphone-pro-max .overlap-group {
  width: 499px;
  height: 240px;
  top: -17px;
  position: absolute;
  left: 0;
}

.iphone-pro-max .ellipse-2 {
  width: 105px;
  height: 97px;
  top: 143px;
  left: 0;
  border-radius: 52.5px/48.5px;
  position: absolute;
  background-color: #d9d9d9;
}

.iphone-pro-max .ellipse-3 {
  width: 105px;
  height: 97px;
  top: 143px;
  left: 136px;
  border-radius: 52.5px/48.5px;
  position: absolute;
  background-color: #d9d9d9;
}

.iphone-pro-max .ellipse-4 {
  width: 105px;
  height: 97px;
  top: 143px;
  left: 265px;
  border-radius: 52.5px/48.5px;
  position: absolute;
  background-color: #d9d9d9;
}

.iphone-pro-max .ellipse-5 {
  width: 105px;
  height: 97px;
  top: 143px;
  left: 394px;
  border-radius: 52.5px/48.5px;
  position: absolute;
  background-color: #d9d9d9;
}

.iphone-pro-max .rectangle-2 {
  height: 191px;
  top: 0;
  background-color: #000000;
  border-radius: 10px;
  position: absolute;
  width: 430px;
  left: 0;
}

.iphone-pro-max .text-wrapper {
  position: absolute;
  width: 130px;
  top: 63px;
  left: 77px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .p {
  position: absolute;
  width: 342px;
  top: 92px;
  left: 77px;
  font-family: "Inter", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .text-wrapper-2 {
  position: absolute;
  width: 130px;
  top: 63px;
  left: 188px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-pro-max .mindremind {
  position: absolute;
  width: 50px;
  height: 52px;
  top: 64px;
  left: 16px;
  object-fit: cover;
}

.iphone-pro-max .image {
  width: 35px;
  height: 29px;
  top: 800px;
  left: 11px;
  position: absolute;
  object-fit: cover;
}

.iphone-pro-max .img {
  width: 36px;
  height: 28px;
  top: 801px;
  left: 86px;
  position: absolute;
  object-fit: cover;
}

.iphone-pro-max .image-2 {
  width: 37px;
  height: 37px;
  top: 796px;
  left: 372px;
  position: absolute;
  object-fit: cover;
}
